* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Vinque", sans-serif;
    text-decoration: none;
}

/* MAIN PAGE */

#headerMain {
    width: 100vw;
    height: 40px;
    position: absolute;
    text-align: center;
    background-color: rgb(49, 55, 77);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navBtn {
    margin: auto 0;
    cursor: pointer;
    color: rgb(138, 138, 155);
}

.navBtn:hover {
    margin: auto 0;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px #00b3ff;
}

.mainMain {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: rgb(19, 19, 35);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footerMain {
    width: 100vw;
    height: 50px;
    position: relative;
    bottom: 0;
    background-color: silver;
}

.projectDiv {
    margin: 0 auto;
    background-color: rgb(91, 96, 136);
    width: 80%;
    height: 300px;
    display: flex;
    border-radius: 20px;
}

.imgDiv {
    width: 300px;
    height: 300px;
}

.screenshot1 {
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 10px;
    background-color: pink;
}

.txtDiv {
    height: 300px;
}

/* INFO PAGE */

#projectPage {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#navInfo {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: grey;
}

#mainInfo {
    width: 70%;
    background-color: rgb(19, 19, 35);
}

.screenshot2 {
    width: 500px;
    height: 300px;
}
