body {
    background-color: palevioletred;
}

#board {
    display: flex;
}

/* this css for .slot and .hole supports the sliding animation */
.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.hole {
    width: 80px;
    height: 80px;
    border: 50px solid darkslategray;
    border-radius: 50%;
    position: relative;
    left: -40px;
    top: -40px;
}

/*  this css for .slot and .hole does NOT support sliding animation */
/* .slot {
    width: 100px;
    height: 100px;
    background-color: magenta;
}

.hole {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 10px;
} */

.player1 .hole {
    background-color: royalblue;
}

.player2 .hole {
    background-color: seagreen;
}
