* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-content: center;
    background-color: #0e0e0e;
}

img {
    z-index: -1;
    position: relative;
    top: 0;
    height: 100vh;
    margin: 0 auto;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
}

#ticker {
    overflow-x: hidden;
    position: absolute;
    height: 2em;
    width: 100%;
    border: 3px dotted cornflowerblue;
    z-index: 1;
}

#headlines a {
    padding-right: 30px;
    color: black;
    text-decoration: none;
    font-size: large;
}
