/* 
A good way to see object sizes and limits is to give them a background color.
We assign 'border-box' to all to simplify sizing of elements.
We also remove the default 'margin' and 'padding'.
Float makes the parent collapse unless we give them a height of their own.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    height: 70px;
}

#logo {
    float: left;
    position: relative;
    margin: 20px 30px;
}

.logoimg {
    height: 30px;
}

#menu {
    float: right;
    position: relative;
    margin: 20px 30px 20px 30px;
}

#middle {
    height: 410px;
    background-image: url(assets/spices.jpg);
    background-size: cover;
    background-position: center;
}

#welcometxt {
    color: white;
    font-family: Serif;
    font-style: italic;
    text-align: center;
    padding-top: 150px;
}

#getStarted {
    width: 230px;
    margin: 20px auto;
    background-color: gold;
    color: #cc6601;
    font-family: serif;
    text-align: center;
    padding: 6px 15px;
    border: 3px solid #cc6601;
    border-radius: 50vh;
}

#bottom {
    height: 290px;
    background-color: silver;
}

.quadrant {
    float: left;
    height: 125px;
    width: 50%;
}

#quadrant1 {
    background-color: blue;
}

#quadrant2 {
    background-color: green;
}

#quadrant3 {
    background-color: orange;
}

#quadrant4 {
    background-color: yellow;
}

.textleft,
.textright {
    margin-top: 40px;
    margin-right: 20px;
}

.textleft {
    float: right;
    width: 300px;
    background-color: red;
}

.textright {
    float: left;
    width: 300px;
    background-color: brown;
}

.imgleft,
.imgright {
    padding: 40px 20px;
    width: 80px;
}

.imgleft {
    float: right;
}

.imgright {
    float: left;
}

footer {
    height: 40px;
    background-color: grey;
}

footer p {
    color: white;
    padding-top: 10px;
    margin-left: 50px;
}
