* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: rgb(20, 20, 20);
}

h1 {
    color: white;
    line-height: 100px;
}

button {
    color: grey;
    cursor: pointer;
    font-size: 25px;
    border: 0 solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin: 5px;
}

#logo {
    font-size: 100px;
}

#four {
    position: relative;
    font-size: 200px;
    animation: 20s infinite rainbow ease;
    text-shadow: -5px -5px 0 white, 5px -5px 0 white, -5px 5px 0 white,
        5px 5px 0 white;
}

.btnSelect {
    color: white;
    animation: 1s infinite button;
}

.btnDiv {
    text-align: center;
    font-size: 30px;
}

#startDiv {
    visibility: hidden;
    height: 0;
}

#gameDiv {
    visibility: hidden;
    height: 0;
}

#readyDiv {
    visibility: hidden;
    height: 0;
}

#infoDiv {
    visibility: hidden;
    height: 0;
}

#winDiv {
    visibility: hidden;
    height: 0;
}

#selectDiv {
    width: 700px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    visibility: hidden;
}

#board {
    width: 700px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    visibility: hidden;
}

.colDiv {
    display: flex;
    flex-direction: column-reverse;
}

#col0 {
    grid-area: 1 / 1;
}
#col1 {
    grid-area: 1 / 2;
}
#col2 {
    grid-area: 1 / 3;
}
#col3 {
    grid-area: 1 / 4;
}
#col4 {
    grid-area: 1 / 5;
}
#col5 {
    grid-area: 1 / 6;
}
#col6 {
    grid-area: 1 / 7;
}

.slot {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.hole {
    border: 50px solid navy;
    position: relative;
    height: 80px;
    width: 80px;
    top: -40px;
    left: -40px;
    border-radius: 50%;
}

.coin {
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
}

.Yellow {
    background-color: yellow;
}

#Yellow {
    color: yellow;
}

.Red {
    background-color: red;
}
#Red {
    color: red;
}

.flagged {
    animation: 1s infinite shining;
}

#selectCoin {
    grid-area: 1 / 4;
    visibility: hidden;
    animation: 1s infinite select;
    cursor: pointer;
}

@keyframes select {
    50% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes shining {
    50% {
        background-color: white;
    }
}

@keyframes button {
    50% {
        text-decoration: underline;
    }
}

@keyframes rainbow {
    0% {
        color: red;
    }

    10% {
        color: orange;
    }

    20% {
        color: yellow;
    }

    30% {
        color: lawngreen;
    }

    40% {
        color: green;
    }

    50% {
        color: cyan;
    }

    60% {
        color: blue;
    }

    70% {
        color: indigo;
    }

    80% {
        color: blueviolet;
    }

    90% {
        color: fuchsia;
    }

    100% {
        color: red;
    }
}
